# PyTorch 2.5.1 with CUDA 12.1 (for RTX 3060)
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# Hugging Face datasets and tokenizers
datasets==2.16.1
tokenizers==0.20.4

# Progress bar
tqdm==4.66.1

# BLEU score computation
nltk==3.9.1

# Data handling and preprocessing
numpy==1.25.0
pandas==2.1.1
scikit-learn==1.3.0

#profiling
tensorboard

#transformer
transformers==4.46.1


# Monitoring
tensorboard

matplotlib